* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: Inter-Regular;
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter-Bold;
  src: url("../fonts/Inter-Bold.eot");
  src: url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
#WidgetEuro2024 {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: auto;
  background-color: #fff;
}
#WidgetEuro2024 header {
  position: relative;
  z-index: -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 24px;
  background: linear-gradient(70deg, rgba(13, 30, 98, 0) 54.22%, #0d1e62 95.15%);
  background-color: #143cdb;
}
#WidgetEuro2024 header .bgHeader__euro2024 {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  content: url("../img/euro2024/header-widget-euro2024.png");
  width: auto;
  height: 124px;
}
#WidgetEuro2024 header .officialPartner__img {
  height: 45px;
  width: auto;
}
#WidgetEuro2024 header .logoEuro2024__img {
  height: 36px;
  width: auto;
}
#WidgetEuro2024 main {
  padding: 16px 14px;
}
#WidgetEuro2024 main ul {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
#WidgetEuro2024 main ul li {
  border-bottom: dashed 1px #9c9c9c;
  padding-bottom: 16px;
}
#WidgetEuro2024 main ul li:last-child {
  border-bottom: none;
}
#WidgetEuro2024 main ul li .cardWidget__euro2024 {
  display: flex;
  align-items: start;
  gap: 0 12px;
}
#WidgetEuro2024 main ul li .cardWidget__euro2024 img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
}
#WidgetEuro2024 main ul li .cardWidget__euro2024 .titleCard__euro2024 {
  color: #000;
  font-family: Inter-Bold, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
#WidgetEuro2024 main .btnSeeAll__euro2024 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 41px;
  border-radius: 4px;
  background-color: #faaa50;
  color: #fff;
  font-family: Inter-Bold, sans-serif;
  font-size: 14px;
  font-style: normal;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
#WidgetEuro2024 main .btnSeeAll__euro2024:hover {
  color: #faaa50;
  background-color: #fff;
  border: 1px solid #faaa50;
}
#WidgetEuro2024 footer {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
  background-color: #143cdb;
}
#WidgetEuro2024 footer .textFooter__euro2024 {
  color: #fff;
  font-family: Inter-Regular, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#WidgetEuro2024 footer .sponsorWrapp__euro2024 {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
#WidgetEuro2024 footer .sponsorWrapp__euro2024 .placement {
  width: 40px;
  height: 40px;
  background-color: #fff;
}
#WidgetEuro2024 footer .sponsorWrapp__euro2024 .placement img {
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}/*# sourceMappingURL=widget-euro2024.css.map */